.filter{
    background-color: #fafafa;
    .filter-fields{
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .filter-field{
            padding: 0.5rem;
        }
        .filter-field.fly{
            display: flex;
            flex-direction: column;
        }
    }
    .filter-buttons{
        display: flex;
        .right{
            width: 50%;
            display: flex;
            justify-content: center;
        }
        .left{
            width: 50%;
        }
        .filter-button{
            margin: 1rem;
        }
    }
}