.create {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
}
